extends layout/_main

block title
  | Paragliding

block content
  +parallax('bg-1.jpeg')(class='paragliding')
    .container.relative.index-2
      .row.center-xs
        .top-container.col-xs-12
          +figure('header-logo.png')(class='relative')
          h1 Paragliding
          p.relative Enjoy an andrenalized #[br] flying trips
    form.column-xs.relative.index-2
      .container
          h2.text-center Join the club
          .form-group-container.row.center-xs
            .form-group.relative
              label
                i.fa.fa-user
              input(type='text', placeholder='Full name')
            .form-group.relative
              label
                i.fa.fa-envelope
              input(type='text', placeholder='Email')
            .form-group.relative
              label
                i.fa.fa-phone
              input(type='text', placeholder='Phone')
          .form-group.button-container.relative.text-center
            button.btn.btn-dark.text-uppercase(type='submit') start now!

  +parallax('bg-2.jpeg')(class='welcome')
    .container.relative.index-2
      .row.center-xs
        .top-container.col-xs-12.row.center-xs
          +figure('page-logo.png')(class='relative')
          h2.col-xs-12 Welcome
        .text-container.row.col-xs-12
          -for(var i = 0; i < 3; i++)
            p.col-xs-12.col-sm-4 Praesent vestibulum aenean nonummy endrerit mauris. Cum sociis natoque Magnis dis parturient montes. Ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
        -for(var i = 1; i <= 4; i++)
          .text-container.relative.col-xs-12.col-sm-6.col-md-3
            span.counter= `0${i}.`
            h3 Extrime
            p Praesent vestibulum aenean nonummy endrerit mauris. Cum sociis natoque Magnis dis parturient montes. Ascetur ridiculus mus.
            a.btn.btn-white(href='/') read more #[i.fa.fa-angle-right]
            
        .latest-photos
          h2.relative Latest photos
          .owl-carousel
            -for(var i = 1; i <= 6; i++)
              .item(style=`background-image: url(${imgPath}image-${i}.jpg)`)
